@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply fixed top-0 flex w-full justify-between bg-[#569bdb]/50;
  padding: 20px 80px;
}

.footer {
  @apply fixed bottom-0 flex w-full justify-center bg-[#569bdb]/50 p-[20px];
}

.homepageProduct {
  @apply m-0 flex h-dvh w-dvw flex-col items-center justify-center;

  * {
    @apply m-10;
  }
}

:root {
  --text-color: black;
  --bg-color: white;
  --secondary-color: #569bdbdc;
  --shadow-color: #56dbb3cb;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: all 0.5s;
}

.darkMode {
  --text-color: rgb(255, 255, 255);
  --bg-color: rgb(46, 46, 46);
}

.activeTheme {
  transform: rotate(0deg) scale(1);
  opacity: 1;
  transition: all 0.3s;
  z-index: 2;
}

.activeTheme:hover {
  transform: scale(1.3);
}

.activeTheme:active {
  transform: scale(1.1);
}

.inactiveTheme {
  transform: rotate(360deg) scale(0.2);
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;
}

.inactiveTheme:hover {
  transform: scale(1.3);
}

.inactiveTheme:active {
  transform: scale(1.1);
}


/* confirmation page  */

.confirmation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50rem; 
  padding: 1rem;
}

@keyframes spinOnce {
  from {
    transform: perspective(1000px) rotateX(1deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(1deg) rotateY(360deg);
  }
}

.confirmation-card {
  background: #e0e0e0;
  border-radius: 50px;
  box-shadow: 20px 3px 6000px rgba(66, 66, 66, 0.15);
  padding: 10rem;
  max-width: 1000px;
  width: 100%;
  transform: perspective(1000px) rotateX(1deg);
  transition: transform 0.3s ease;
  animation: spinOnce 2s ease-in-out;
}

.confirmation-card:hover {
  transform: perspective(1000px) rotateX(20deg) scale(1.1);
}

.confirmation-header {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #424242;
}

.greeting {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #424242;
}

.greeting span {
  font-weight: 500;
  color: #424242;
}

.thank-you {
  text-align: center;
  font-size: 1.5rem;
  color: #424242;
  margin-bottom: 0.5rem;
}

.message {
  text-align: center;
  color: #424242;
  margin-bottom: 2rem;
}

.items-section h3,
.total-section h3,
.shipping-section h3 {
  font-size: 1.2rem;
  margin-bottom:1rem;
  color: #424242;
  border-bottom: 10px solid #e0e0e0;
  padding-bottom: 0.3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  background: #e0e0e0;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: inset 0 2px 6px #424242(66, 66, 66, 0.05);
}

.item h4 {
  margin: 0 0 0.3rem;
  color: #424242;
}

.item p {
  margin: 0.2rem 0;
  color: #757575;
}

.total-section {
  margin-top: 2rem;
}

.free {
  color: #424242; 
  font-weight: bold;
}

.address-box {
  background: #eeeeee;
  border-radius: 20px;
  padding: 5rem;
  box-shadow: inset 0 2px 6px #424242(66, 66, 66, 0.05);
  color: #424242;
}